@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Altering the react-vertical-timeline-component */

.vertical-timeline-element-content p {
}

.vertical-timeline-element-icon {
  top: 10px !important;
  left: 10px !important;
  width: 20px !important;
  height: 20px !important;
  background: white !important;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-icon {
    width: 30px !important;
    height: 30px !important;
    left: 50% !important;
    top: 15px !important;
    margin-left: -14.5px !important;
  }
}
